#main{
  min-height: 100vh;
  padding: 100px 20px;
  font-size: 15px;
  line-height: 27px;
  max-width: 1040px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  color: #595959;
}
a{
  color: inherit;
}
button{
  width: inherit;
  height: inherit;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.main-title{
  width: 100%;
  color: #3E8500;
  text-transform: uppercase;
  font-size: 51px;
  line-height: 54px;
  align-items: flex-start;
  font-weight: 800;
  margin-bottom: 40px;
}
.content{
  align-items: flex-start;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.description{
  order: 1;
  margin-right: 40px;
}
.description a{
  color: #3E8500
}
.content-img{
  order: 2;
  max-width: 373px;
  max-height: 359px;
  width: 100%;
  min-width: 200px;
}
.list-items{
  display: flex;
  flex-wrap: wrap;
  /*margin: 0 -10px;*/
  /*justify-content: center;*/
  flex-direction: row;
}
/**/
.item{
  max-width: 320px;
  width: 100%;
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 10px;
  border-radius: 10px;
  min-height: 415px;
  background-color: rgba(196, 196, 196, 0.2);
  margin: 0 5px 30px 5px;
  /*margin-right: auto;*/
}
.item-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #3C3C3C;
  padding: 0 8px;
  margin-bottom: 25px;
}
.item-code{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 185px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.wrapp-btn{
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.btn{
  max-width: 240px;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  background-color: #3C3C3C;
  margin: 5px 0;
  color: #ffff;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  align-items: flex-start;
}
.btn._gray-btn{
  color: #3C5358;
  background-color: #D6DCE2;
}
.btn._green-btn{
  color: #ffff;
  background-color: #56A412;
}