@media  only screen and (max-width: 1050px){
  
  .item{
    max-width: inherit;
    flex: 1 2 48%;
  }
}
@media  only screen and (max-width: 768px){
  .content{
    flex-wrap: wrap;
  }
  .description{
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .content-img{
    margin: 0 auto;
  }
}
@media only screen and (max-width : 480px) {
  #main{
    padding: 50px 5px;
  }
  .main-title{
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .description{
    text-align: justify;
  }
  .list-items{
    margin: 0;
  }
}